[
  {
    "id": "plex-1",
    "name": "My Plex",
    "type": "plex",
    "baseUrl": "http://192.168.1.138:32400",
    "token": "RrqrzCMCg4WbPWaNEWsh",
    "tokenLocation": "query",
    "apiPath": "/status/sessions"
  },
  {
    "id": "jelly-1",
    "name": "My Jellyfin",
    "type": "jellyfin",
    "baseUrl": "http://192.168.1.138:8096",
    "token": "dd16020b673747798d72adf3cf595587",
    "tokenLocation": "header",
    "apiPath": "/System/Info"
  },
  {
    "id": "emby-1",
    "name": "My Emby",
    "type": "emby",
    "baseUrl": "http://EMBY_HOST:8096",
    "token": "YOUR_EMBY_TOKEN",
    "tokenLocation": "header",
    "apiPath": "/System/Info"
  }
]
